.catalog {
  color: #333333;
}

.catalog__cards {
  margin: 37px 0 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #f4f4fc;
}

.catalog__aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: aside;
}

.catalog__content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: content;
}
