.not-found {
  display: grid;
  align-content: center;
  color: #9a9ac6;
}

.not-found .container {
  text-align: center;
}

.not-found svg {
  max-width: 600px;
}

.not-found__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 38px;
}

.not-found__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
}
